version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: csd214_practical_test
    environment:
      USERNAME: Chris
      MYSQL_ROOT_PASSWORD: itstudies1234
      MYSQL_DATABASE: csd214_test_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data: